@{
    ViewData["Title"] = "About";
}

<div class="row banner" style="background-image:url(/images/aboutus.jpg);height:250px;">
    <h3 style="text-align:center;color:#fff;font-size:40px;margin-top:100px;"><b>About us</b></h3>
</div>
<div class="container-fluid">
<div class="row srv-content-box">
    <div class="col-md-12 ">
        <h4 style="text-align:center;"><b>Share A Little Application</b></h4>
        <p>
            Share a Little is a Cloud application for people to shop online Fruits, vegetables and flowers.
            This website can be browsed by both anonymous visitors and registered members, but only registered members can place an order.
            This application was developed using Visual Studio 2017 with programming languages;
            ASP.NET Core, C# and Database which created by different classes then automatically add in SQL Server and then deploy on AWS.
        </p>
        <br>
        <h4><b>Product Vision</b></h4>
        <p>
            For people
            Who want to share stuffs such as<br>
            1.Home and Garden (self-plant flowers, vegetable-plants)<br>
            2.Spaces (storage unit)<br>
            The <b>“share a little”</b>
            Is A cloud application,
            That will help to share the
            plants and the storage space among
            different users of this application.
            Unlike other applications, our application is only meant for the
            registered users and get quick and direct responses among the user
        </p>
    </div>
</div><br>
<div class="row">
    <div class="col-md-6">
        <img src="~/images/about1.jpg" alt="ASP.NET" class="img-responsive" />
    </div>
    <div class="col-md-6 srv-content-box">
        <h4>Flowers</h4>
        <P>
            We provide the facility to <b>Share</b>
            flowers and flower-plants among different users in the application.
            The users who want to sell their flowers can get registered with us 
            so that the other registered users  who needed the flowers can find them.
            We provide our customers with quality flowers
            and floral arrangements at a fair price.
            We will strive to match and surpass the expectations that our
            customers expect from us and our products.
        </P>
    </div>
</div>
<div class="row">
    <div class="col-md-6 srv-content-box">
        
            <h4>Vegetables</h4>
            <p>
                We provide the facility to <b>Share</b>
                Vegetables and vegetable-plants among different users in the application.
                The users who want to sell their Vegetables can get registered with us
                so that the other registered users  who needed the Vegetables can find them.
                We provide our customers with quality Vegetables
                 at a fair price.
                We will strive to match and surpass the expectations that our
                customers expect from us and our products.
            </p>
    </div>
    <div class="col-md-6"  >
        <img src="~/images/about2.jpg" alt="ASP.NET" class="img-responsive" />
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <img src="~/images/about3.jpg" alt="ASP.NET" style="width:700px;" class="img-responsive" />
    </div>
    <div class="col-md-6 srv-content-box">
        <h4>Storage place</h4>
        <P>
            We provide the facility to <b>Share</b>
            storage space among different users in the application.
            The users who want to give  their storage space on rent  can get registered with us
            so that the other registered users  who needed the space can find them.
            We provide our customers with  storage space
            at a fair price.
            We will strive to match and surpass the expectations that our
            customers expect from us and our products.
        </P>
    </div>
</div>
</div><br><br><br>